[tool.black]
line-length = 88
target-version = ['py39']
include = '\.pyi?$'
skip-string-normalization = true

[tool.isort]
profile = "black"
multi_line_output = 3
known_first_party = ["app", "tests"]
known_third_party = ["fastapi", "sqlmodel", "uvicorn", "pydantic", "sqlalchemy", "passlib", "python_jose", "httpx", "pytest", "requests"]

[tool.mypy]
python_version = "3.9"
warn_return_any = true
warn_unused_configs = true
warn_unused_ignores = true
disallow_untyped_defs = true
ignore_missing_imports = true